<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen del Modulo 2</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Bienvenido</h1>
    <p>Para este examen 04/06/2024 es para mostrar el uso de Flask.</p>
    <p>Haga clic en el botón para ir al formulario:</p>
    <a href="/formulario"><button>Ir al Formulario</button></a>
</body>
</html>
